input:valid {
    border-color: green;
}
input:invalid {
    border-color:  #920909;
}

input.valid {
    border-color: green;
}
input.invalid{
    border-color: red;
    border-width: 5px;
}


.invalid-message {
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: 700; 
}